<template>
  <v-app class="bg-grey-darken-4">
    <v-main>
      <v-container style="height: 100vh;">
        <v-layout full-height>
          <v-row align="center" justify="center">
            <v-container fluid>
              <v-row>
                <v-col>
                  <span class="text-h2 d-flex justify-center">🪨🌳</span>
                  <span class="text-h4 d-flex justify-center">Stonegarden.dev</span>
                </v-col>
              </v-row>
              <v-row align="center" justify="center" style="height: 2em">
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="2">
                  <span class="text-h5 d-flex justify-center">
                    <a href="https://blog.stonegarden.dev" target="_blank"><button>📝 Blog</button></a>
                  </span>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="2">
                  <span class="text-h5 d-flex justify-center">
                    <a href="https://gitlab.com/vehagn" target="_blank"><button><GitLab/> GitLab</button></a>
                  </span>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="2">
                  <span class="text-h5 d-flex justify-center">
                    <a href="https://github.com/vehagn" target="_blank"><button><GitHub/> GitHub</button></a>
                  </span>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="2">
                  <span class="text-h5 d-flex justify-center">
                    <a href="https://www.linkedin.com/in/vegard-hagen-84611126/" target="_blank"><button><LinkedIn/> LinkedIn</button></a>
                  </span>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col cols="2">
                  <span class="text-h5 d-flex justify-center">
                    <a href="https://www.youtube.com/@veghag" target="_blank"><button><YouTube/> YouTube</button></a>
                  </span>
                </v-col>
              </v-row>
            </v-container>
          </v-row>
        </v-layout>
      </v-container>
      <v-footer class="bg-teal-darken-4 text-center d-flex flex-column">
        <span>v{{ runtimeConfig.public.clientVersion }}</span>
      </v-footer>
    </v-main>
  </v-app>
</template>

<script setup>
import GitLab from "~/components/logos/GitLab.vue";
import GitHub from "~/components/logos/GitHub.vue";
import YouTube from "~/components/logos/YouTube.vue";
import LinkedIn from "~/components/logos/LinkedIn.vue";

const runtimeConfig = useRuntimeConfig()
</script>

<style>
a:link {
  color: #00796b;
}

a:visited {
  color: #004d40;
}

a:hover {
  color: #26a69a;
}

a:active {
  color: #80cbc4;
}
</style>

